<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDEZEGyu3eEJqdaqor6vjscugcyFIw-HSs</string>
	<key>GCM_SENDER_ID</key>
	<string>819091825792</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.localBuyAndSell</string>
	<key>PROJECT_ID</key>
	<string>local-sell-and-buy</string>
	<key>STORAGE_BUCKET</key>
	<string>local-sell-and-buy.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:819091825792:ios:4494a92b88d47f6efc7265</string>
</dict>
</plist>